.App {
  background-color: aliceblue;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.custom-iframe {
  height: 100%;
  min-height: 400px;
  width: 100%;
  overflow: auto;
}

.custom-wrapper {
  height: 100%;
}